<%- include("header");-%>


    <div class="box" id="heading">
        <h1><%=listTitle%></h1>
    </div>
    <div class="box">
        <% for (var i=0; i<newListItems.length; i++){ %>
            <div class="item">
            <input type="checkbox">
        <p><%= newListItems[i] %></p>
            </div>
        <% } %>
    </ul>

    <form class="item" action="/" method="POST">
        <input autofocus type="text" name="new" placeholder="What's next?" autocomplete="off">
        <Button type="submit" name="list" value=<%= listTitle %>>+</Button>
    </form>
</div>    



<%- include("footer");-%>

